<!DOCTYPE HTML>
<html>
   <head>
       <title>AJAX</title>
       <meta charset="utf-8" />
       <script type="text/javascript" src="jquery.js"></script>
       <script type="text/javascript">
            $(document).ready(function(){
                $('#form').submit(function(event){
                    $.post("getajax.py",{data:$("#in1").val()},onResponse);
                    return false;
                })
                function onResponse(data){
                    $("#in2").text(data);
                }
            })
        </script>
    </head>
    <body>
        <form action="dynamic/leave_comment_2/" method="POST">

            {% csrf_token %}

            <input id="in1" type="text" />
            <button id="btn">Test</button>
        </form>
        <p id="in2"></p>
    </body>
</html>
